# Server settings:
SERVER_URL="0.0.0.0:5000"
SERVER_READ_TIMEOUT=60

# Postgres Live
DB_HOST=127.0.0.1
DB_DRIVER=postgres
DB_USER=username
DB_PASSWORD=password
DB_NAME=rltesting
DB_PORT=5432 #Default postgres port

# Jwt
JWT_SECRET_KEY="secret"
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT=15